html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Mabry Bold";
  src: url("../fonts/Mabry\ Pro\ Bold.otf") format("OpenType");
}
@font-face {
  font-family: "Mabry Medium";
  src: url("../fonts/Mabry\ Pro\ Medium.otf") format("OpenType");
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
